/* .menubar{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
} */

.link{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color:white;
}

/* .routing-container{
    display:"flex";
    justify-content:"space-between";
    align-items:"baseline";
    flex-wrap:"wrap";
    border:"1px solid black"
} */